<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>¡Bibloteca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="primary">
  <ion-list >
    <ion-item color="primary" class="border">
      <ion-label>
        <img src="../../../assets/la colmena.jpg">
        <p class="p1">
          
          La colmena
          <br>
          autor: Camilo Jóse Cela.....
          <br>
         
          Año: 1951
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="primary" class="border">
      <ion-label>
        <img src="../../../assets/la galatea.jpg">
        <p class="p2">
          La galatea
          <br>
          autor: Miguel de Cervantes
          <br>
          Año: 1585
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="primary" class="border">
      <ion-label>
        <img src="../../../assets/don mancha.jpg">
        <p class="p3">
          El ingenioso caballero 
          <br>
          Don Quijote de la Mancha
          <br>
          autor: Miguel de Cervantes
          <br>
          Año: 1605
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="primary" class="border">
      <ion-label>
        <img src="../../../assets/la dorotea.png">
        <p class="p4">
          La dorotea
          <br>
          autor: Félix Lopez de Vega 
          <br>
          y Carpio
          <br>
          Año: 1632
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="primary" class="border">
      <ion-label>
        <img src="../../../assets/la dragontea.jpg">
        <p class="p5">
          La dragontea
          <br>
          autor: Félix Lopez de Vega 
          <br>
          y Carpio
          <br>
          Año: 1603
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
