img{
    height: 80px;
    width: 80px;
    margin: 0;
}
.p1{
    float: right;
}
.p2{
    float: right ;
}
.p3{
    margin-left: 0;
    text-align: left;
    float: right;
}
.p4{
    float: right;
}
.p5{
    float: right;
}