<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/autor" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Curriculum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="primary">
  <ion-list color="primary">
    <ion-item color="primary">
      <ion-label >
        <p>
          2010-Actualidad:
          <br>
          Profesor del Máster Universitario en  
          <br>
          Desarrollo de Software para 
          <br>
          Dispositivos Móbiles.
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-label>
        <p>
          2008-2010:
          <br>
          Sexador de pollos en AngryChicken.
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-label>...</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
